{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'folio/css/main.css' %}">
    <script src="{% static 'folio/js/script.js' %}"></script> 
    <title>ELMON | Website Developer </title>
</head>
<body>
    <!-- 4 sections for the Website -->
    <section class="hero">
        <h3>Welcome</h3>
        <h3 class="container" ><div  class="typing-text" id="target"></div>
        </h3>   
        <p>This is the first section of the website.</p> 
    </section> 
    <section>  
        <h2>Section 2</h2>
        <p>This is the second section of the website.</p>
    </section>    
    <section>
        <h2>Section 3</h2>
        <p>This is the third section of the website.</p>
    </section>
    <section>
        <h2>Section 4</h2>
        <p>This is the fourth section of the website.</p>
    </section>
</body>
</html>